<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user ads</title>
</head>
<body>
<h1 th:text="'Ads created by ' + ${user.name} + ' ' + ${user.surname}"></h1>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date of creation</th>
        <th>More info</th>
        <th>Delete</th>
    </tr>
    <tr th:each="ad : ${listOfAds}">
        <th th:text="${ad.title}"></th>
        <th th:text="${ad.description}"></th>
        <th th:text="${ad.dateOfCreation}"></th>
        <th><a th:href="'/ad/info/' + ${ad.id}">more info</a></th>
        <th><a th:href="'/ad/delete/' + ${ad.id}">delete</a></th>
    </tr>
</table>
</body>
</html>