<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>Login form</title>
</head>
<body class="img-fluid" style="background-attachment: fixed; background-image: url('https://phonoteka.org/uploads/posts/2021-04/1618458257_40-phonoteka_org-p-fon-dlya-lendinga-40.jpg');">
<div th:insert="~{model :: header}"></div>

<main class="text-center"
      style="width: 100%;
    max-width: 340px;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;">

  <form th:action="@{/login}" method="post">
    <img class="mb-4" src="https://icon-library.com/images/cart-icon-16.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="phoneNumber" placeholder="name@example.com">
      <label for="floatingInput">Номер телефона</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
    </div>
    <div class="text-danger mt-3 mb-3"  >
      <div th:if="${param.error}" >Неверный номер телефона или пароль</div>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <p class="mt-5 mb-3 text-muted">© 2022</p>
  </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>